
    /* Large desktop Start#####################################*/
    @media (min-width: 1200px) { 
		
     }
     /* Large desktop End######################################*/
     
     /*  desktop Start#########################################*/
    @media (min-width: 980px) and (max-width: 1199px) {
    
    	
     }
    /*  desktop End############################################*/
    
    /* Portrait tablet to landscape and desktop Start##########*/
    @media (min-width: 768px) and (max-width: 979px) {
    	
     }
    /* Portrait tablet to landscape and desktop End############*/ 
    
    /* Landscape phone to portrait tablet Start################*/
    @media (max-width: 767px) { 
   	 	
     }
    /* Landscape phone to portrait tablet End##################*/ 
    
    /* Landscape phones and down Start#########################*/
    @media (max-width: 480px) { 
    	
     }
     /* Landscape phones and down End##########################*/
     
     
     
     
     
     
     
     
     
     



.form-input-customs{
	float:left;
	width: 250px;
	/* 425 */
}
.form-label-customs{
	float:left;
	padding-top: 1px;
	width:170px;
}
.font-gear{
	font-size: 25px;
	cursor:pointer;
}

.input-contact-customs{
	width:70px;
	padding-top: 0px;
} 

.input-inline-table-customs{
	height:23px;
	padding: 0px;
	padding-top: 0px;
}
.form-label-customs-manual{
	float:left;
	padding-top: 1px;
	width:95px;
}
.form-input-customs-title{
	float:left;
	width: 100px;
}
.form-input-customs-address{
	float:left;
	width: 200px;
}
#ui-datepicker-div ,.ui-datepicker { z-index: 99999 !important; }

.control-label{
	margin-bottom: 0;
    padding-top: 7px;
    text-align: right;
}
#btnSearchArea{
	padding-top:35px;
}
.titlePanel{
	/*display: inline;*/
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
    padding-top: 5px;
}
.titlePanel2{
	/*display: inline;*/
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
    padding-top: 5px;
    
}
.titlePanelSearch{
	
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
    padding-top: 5px;
   

}
.titlePanelSearch2{
	
	font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
    padding-top: 5px;
   
}
.modal-body {
    padding: 20px 30px 5px;
}
.yellow2{
	background:#ffe100;
}
.title2{
	padding:5px;
	padding-left:5px;
}
#ibox-content-bsc{
	
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    color: inherit;
    padding: 0px;
} 
